   <div class="navbar">
            <div class="container">
               
                <ul class="desktop">
                    <li><a  routerLink="appareil" >Acceuil</a></li>
                    <li><a routerLink="auth">auth</a></li>
                    <li><a routerLink="">JoinUs</a></li>
                    <li style="margin-right:0px;">
                      <a  routerLink="auth">Contact</a></li>
                    
                    
                    
                </ul>
            </div>
        </div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->